@import "variables";

// flex-center
@mixin flex($justify:flex-start,$align:flex-start,$direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// flex-between
// @mixin flex-between(){
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// ellipsis  省略字符
@mixin ellipsis(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// multi line ellipsis 多行省略
@mixin multiline-ellipsis($num:2){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: $num;
    white-space: normal !important;
    word-wrap: break-word;
}